Unidad_04_DTD_XSD/DTD/examen2018/Personajesdelospowerrangers.dtd

<!ELEMENT Personajesdelospowerrangers (Personajes)>
<!ELEMENT Personajes (ranger*)>
<!ELEMENT ranger (nombre, arma, vehiculo, color, poder)>
<!ATTLIST ranger posicion (lider | miembro) #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT arma (#PCDATA)>
<!ATTLIST arma nivel (1|2|3|4|5|6|7|8) #REQUIRED>
<!ELEMENT vehiculo (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT poder (legendario | heredado)>
<!ELEMENT legendario (#PCDATA)>
<!ELEMENT heredado (#PCDATA)>